/* @import "tailwindcss";
@plugin "@tailwindcss/typography"; */

/* JUST DEFINE ANY CLASS IN HERE AND USE THE STYLE IN ANY MANTINE COMPONENT */

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --yellow: rgb(233, 206, 69);
  --yellow-dark: rgb(228, 199, 34);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
  background: #100720;
  color: #fff;
}

/* for navbar */
.navbar-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--yellow);
  transition: width 0.3s;
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--yellow);
}

.navbar-link:hover::after,
.navbar-link:focus::after {
  width: 100%;
}

/* markdown code styling */
.md-desc code {
  background: rgba(191, 185, 185, 0.18);
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}

/* Blog link style */
.link {
  position: relative;
  display: inline-block; /* shrink-wrap text content */
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: var(--yellow-dark);
  transition: width 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--yellow-dark);
  font-weight: bold;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
}

/* Example CSS for tables */
/* For MD tables (which React Markdown converts to
standard HTML <table>, <th>, <td> elements
*/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(40, 42, 53);
}
